@model Group_Task.Models.GoodReceivedReturn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoodReceivedReturn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrnNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrnNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
