@model Group_Task.Models.BoqDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoqDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoqNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoqNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blocks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blocks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainWorkingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainWorkingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoqQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoqQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
