@model Group_Task.Models.TaskMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormularSide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormularSide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormularMiddle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormularMiddle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskMasterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
