@model Group_Task.Models.BoqWorkingType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoqWorkingType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoqNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoqNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blocks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blocks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.House)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoqStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoqStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviseCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviseCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
