@model Group_Task.Models.Subcontractor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subcontractor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
