@model Group_Task.Models.PurchaseOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrnAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrnAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suppliers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suppliers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermsOfPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermsOfPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
