@model IPagedList<P_Requests.Models.PurchaseRequest>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="page-content">

    @* BEGING PAGE BAR *@
    <div class="page-bar">
        <div class="page-breadcrumb">
            <a class="fw-bold font-dark text-uppercase" href="https://localhost:7081/">Home | </a>
            <span> Request</span>
        </div>
        <div class="page-toolbar">
            <i class="icon-calender"></i>
            <span class="thin text-uppercase hidden-xs">August 20, 2024 - September 18, 2024</span>
            <i class="fa fa-angle-down"></i>
        </div>
    </div>

    @* END PAGE BAR *@
    <br />

    <div class="row-body">
        <div class="col-md-12">
            <div class="porltet-bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject fw-bold font-dark text-uppercase">Request</span>
                        <span class="caption-helper">Request List</span>
                    </div>
                    <div class="actions">
                        <a asp-action="Create" class="btn btn-circle btn-danger">Add New </a>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div id="my_table_wrapper" class="dataTable_wrapper no-footer">
                    <div class="row_data">
                        <div class="dataTables_length" style="background-color:aquamarine;flex:5;">
                            <div class="dataTables-left d-flex justify-content-start" id="my-table_length">
                                <label>
                                    Show
                                    <select name="my-table_length" aria-controls="my-table" class="from-control input-sm input-xsmall input-inline ">
                                        <option value="4">4</option>
                                        <option value="8">8</option>
                                        <option value="12">12</option>
                                        <option value="20">20</option>
                                        <option value="-1">All</option>
                                    </select>
                                    entries
                                </label>
                            </div>
                        </div>
                        <div class="dataTable_filter" style="background-color:aquamarine;flex:5;">
                            <div id="my-table_filter" class="dataTables-rigth d-flex justify-content-end">
                                <label>
                                    search:
                                </label>
                                <input type="search" class="input-sm input-small input-inline"
                                       placeholder="" aria-controls="my-table">
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable">
                        <table id="my-table" class="table table-striped table-bordered table-hover dataTable no-footer" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width: 3%;" class="all">ID</th>
                                    <th width="10%" class="text-center all">Transaction No</th>
                                    <th width="8%" class="text-center all">Transaction Date</th>
                                    <th width="5%" class="text-center all">Delivery Date</th>
                                    <th width="5%" class="text-center all">Approved Date</th>
                                    <th width="15%" class="text-center all">Department</th>
                                    <th width="5%" class="text-center all">Status</th>
                                    <th width="25%" class="text-center">Note</th>
                                    <th width="10%" class="text-center all">Request by</th>
                                    <th width="10%" class="text-center all">Updated By</th>
                                    <th width="10%" class="text-center all">Checked By</th>
                                    <th width="10%" class="text-center all">Approved by</th>
                                    <th width="10%" class="text-center all">Attachment</th>
                                    <th width="7%" class="text-center all">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeliveryDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApprovedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CheckedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApprovedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Attachment)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row-pagination">
                        <div class="col-md-5 col-sm-5"><div class="dataTables_info" id="my-table_info" role="status" aria-live="polite">Showing 1 to 12 entries</div></div>
                        <div class="col-md-7 col-sm-7">
                            <!-- Pagination -->
                            <nav aria-label="Page navigation" class="d-flex justify-content-center">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "PurchaseRequests",
                                         new { page = page }),
                                         new PagedListRenderOptions
                                {
                                    LiElementClasses = new[] { "page-item" },
                                    PageClasses = new[] { "page-link" }
                                }
                                         )
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>