@model IEnumerable<Group_Task.Models.TaskType>

@{
    ViewData["Title"] = "Index";
}

<h4>Task Type</h4>
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskTypeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
